x-base-image:
  versions:
    moc: &moc 0.16.0
    ic-wasm: &ic_wasm 0.9.3
    mops-cli: &mops-cli 0.2.1
  name: &base_name 'ghcr.io/prometheus-protocol/motoko-build-template:moc-0.16.0'

networks:
  default:
    external: true
    name: verifier-shared-network

services:
  base:
    build:
      context: .
      dockerfile: Dockerfile.base
      args:
        MOC_VERSION: *moc
        IC_WASM_VERSION: *ic_wasm
        MOPS_CLI_VERSION: *mops-cli
    image: *base_name
  wasm:
    build:
      context: .
      args:
        IMAGE: *base_name
    volumes:
      - ./out:/project/out
    environment:
      compress: no
    command: bash --login build.sh
